name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

# https://docs.astral.sh/uv/guides/integration/github/#setting-up-python

jobs:
  uv-example:
    name: python
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install dependencies
        run: uv sync --frozen

      - name: Setup Reviewdog
        uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: latest

      - name: Run Type Check
        # https://github.com/jordemort/action-pyright
        # リポジトリのGitHub Actionsのワークフロー権限の設定でGITHUB_TOKENに書き込み権限を与える必要がある
        uses: jordemort/action-pyright@v1
        id: type-check
        continue-on-error: true
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          lib: true
          level: info
          filter_mode: nofilter
          fail_on_error: true

      - name: Run Check Format
        id: check-format
        continue-on-error: true
        run: uv run ruff format --diff | reviewdog -f=diff -reporter=github-pr-review -fail-level=any
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.REVIEWDOG_GITHUB_API_TOKEN }}

      - name: Run Lint
        id: lint
        continue-on-error: true
        run: uv run ruff check --output-format=github

      - name: Error Handling
        if: steps.type-check.outcome == 'failure' || steps.check-format.outcome == 'failure' || steps.lint.outcome == 'failure'
        run: exit 1

      - name: Run hello
        run: uv run src/hello.py
